<!DOCTYPE html>

<html>

<head>
	<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
		rel="stylesheet" type="text/css" />
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
	<meta charset=utf-8 />

	<script src="{{ url_for('static', filename='upload.js') }}"></script>

	<style>
		article,
		aside,
		figure,
		footer,
		header,
		hgroup,
		menu,
		nav,
		section {
			display: block;
		}
		form {
			margin: 0 auto; 
			width:250px;
			margin-top: 20%;
		}
		body{
			background-image: url("{{ url_for('static', filename='img/background.jpg') }}")
		}

	</style>
</head>

<body>
	<form  action="http://127.0.0.1:5000/uploader" method="POST" enctype="multipart/form-data">
		<p class="mx-auto mt-3 text-xs text-center text-gray-500">Please select an image to predict.</p>
		<input class="px-8 py-2 font-semibold text-white transition duration-500 ease-in-out transform bg-black rounded-lg hover:bg-gray-800 hover:to-black focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2" type='file' name='file' onchange="readURL(this);" />
		<img id="blah" src="#" alt="your image" class="object-cover object-center w-full h-64 rounded-lg lg:h-auto" />
		<button class="px-8 py-2 font-semibold text-white transition duration-500 ease-in-out transform bg-black rounded-lg hover:bg-gray-800 hover:to-black focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2" type="submit">Submit & predict</button>
	</form>
</body>

</html>
